.accordion-button:focus{
    box-shadow: none ;
}
.accordion-button:not(.collapsed){
    background-color: #e5cfab;
    color: black;
}
body{
    font-family: monospace;
}
.accordion-button:not(.collapsed)::after{
    background-image: var(--bs-accordion-btn-icon);
}
.navbarr{
    background-color: #d2ac6e93 !important;
    position: sticky;
    top: 0;
    z-index: 5;
}
.navbarr li{
    margin-left: 35px;
}
*{
    font-family: monospace;
    font-size: 16px;
}